<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ site.title }} | {{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Arne Eilermann">

    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/custom.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="/js/html5shiv.js"></script>
    <![endif]-->

     <link rel="shortcut icon" href="/images/invader16x16.png">

     <link href="atom.xml" rel="alternate" title="&lt;3" type="application/atom+xml" />
     {% include flattr_loader.html %}
  </head>

  <body>

    <div class="container-narrow">
      <div class="masthead">
        <ul class="nav nav-pills pull-right">
          <li{% if page.url == "/index.html" %} class="active"{% endif %}><a href="/">Home</a></li>
          <li{% if page.url == "/blog.html" or page.post or paginator %} class="active"{% endif %}><a href="/blog">Blog</a></li>
          <li class="dropdown {% if page.url == "/podcasts.html" %} active{% endif %}">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
              Podcasts
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><a href="/podcasts">Podcasts at all</a></li>
              <li><a href="/podcasts#megamagisch">megamagisch</a></li>
              <li><a href="/podcasts#radio_3">Radio &lt;3</a></li>
            </ul>
          </li>
          <li{% if page.url == "/about.html" %} class="active"{% endif %}><a href="/about">About</a></li>
        </ul>
        <div class="page-header">
          <h1 class="muted">&lt;3</h1>
        </div>
      </div>

      {{ content }}

      <hr>

      <div class="footer muted row-fluid">
        <div class="span4">
          <p>
            Arne Eilermann<br>
            Köln, Germany<br>
            arne [ät] kleinerdrei.net (<a href="http://pgp.mit.edu:11371/pks/lookup?op=get&search=0x397C6A2CC1ACAEE7" title="PGP public key">PGP</a>)
          </p>
        </div>
        <div class="span4">
          <p>
            <a href="https://alpha.app.net/pattex">alpha.app.net/pattex</a><br>
            <a href="https://twitter.com/pattex/">twitter.com/pattex</a><br>
            <a href="https://github.com/pattex/">github.com/pattex</a><br>
          </p>
        </div>
        <div class="span4">
          <p>
            <a class="FlattrButton" style="display:none;" title="kleinerdrei.net &lt;3" href="https://kleinerdrei.net"  data-flattr-uid="pattex" data-flattr-popout="1" data-flattr-button="compact" data-flattr-category="text" data-flattr-language="en_GB">kleinerdrei.net &lt;3</a><br>
          </p>
        </div>
      </div>

    </div> <!-- /container -->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script type="text/javascript">
      var disqus_shortname = 'kleinerdrei';
      (function () {
        var s = document.createElement('script'); s.async = true;
        s.src = 'https://disqus.com/forums/kleinerdrei/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
      }());
    </script>
  </body>
</html>
